{% extends 'base.html.twig' %}

{% block title %}Zarejestruj się{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div style = "text-align: center; width: 400px; margin-left:300px;" class ='hellothere'>
        <h1>Zarejestruj się</h1></br>

        {{ form_start(registrationForm) }}
        <div class = 'trynow'>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Hasło'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Akceptuję warunki'
            }) }}

            <button type="submit" class="btn btn-success">Zarejestruj się</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
